* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

#back {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.blur {
  display: flex;
  justify-content: center;
  text-align: left;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(40px);
}

.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
  background: #483d8b;
  /* background:#333; */
  width: 70rem;
  border-radius: 2%;
  /* opacity:0.9; */
}

.login-data {
  margin: 4rem;
}

/* .login form {
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin:12rem;
} */

table {
  border-spacing: 0.8rem;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup table {
  background: #333;
  background: rgb(0, 0, 0, 0.3);
  border-radius: 10px;
}

#File {
  display: none;
}

.container{
  position:relative;
  width:130px;
}

.circle {
  position:relative;
  border-radius: 100% !important;
  overflow: hidden;
  width: 130px;
  height: 130px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* position: absolute; */
  /* top: 72px; */
}

.profile-pic {
  width: 130px;
  max-height: 130px;
  /* display: inline-block; */
  object-fit:cover;
}

.p-image {
  /* padding: 0.3rem; */
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top:80%;
  right:12%;
}
